* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f8f8f8;
  background-image: url('img.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

.grid{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

form {
  background-color: #ffffffd5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  outline: none;
  border-color: #666;
}


.btn-container{
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0069d9;
}

/* specific styles */
select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png") no-repeat center right 10px/16px #f4f4f4;
  padding-right: 35px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  margin-top: 20px;
}

.placeholder {
  color: #a0a0a0;
}

.results-container{
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.results{
  padding: 8px 16px;
}